#category-list {
    min-height: 400px;
    .category {

        &:not(:last-child) {
            -webkit-box-shadow: 0 15px 20px -20px #000;
            -moz-box-shadow: 0 15px 20px -20px #000;
            box-shadow: 0 15px 20px -20px #000;
            border-radius: 35%;
        }

        &:nth-child(even) {
            .content {
                .image {
                    order: 2;
                }

                .text {
                    order: 1;
                }
            }
        }

        .content {
            display: flex;
            margin: 1rem 0;
            padding: 1rem 0 2rem;
            background-color: #fff;
            min-height: 150px;
            align-items: center;

            .image {
                width: 40%;
            }

            .text {
                width: 60%;
                text-align: center;

                h2 {
                    font-size: 1rem;
                    font-weight: bold;
                }

                p,
                a {
                    font-size: 0.75rem;
                }

                a {
                    background-color: rgb(194, 2, 2);
                    color: #fff;
                    padding: 0.625rem;
                }
            }
        }
    }
}